{% extends "basic.html" %} 
{block title}register{endblock title}

{% block content %}
  


<div class="container rounded border-lg mt-5 mb-5 p-5 shadow bg-light" style="width: 35%; ">
<h2 class="mb-5 text-center" id='ca'>Create account</h2>

<form action="{% url 'login' %}" class="needs-validation "  onsubmit="return passval()"  novalidate>
 <div class="form-group">
   <label for="uname">Username:</label>
   <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
   <div class="valid-feedback">Valid.</div>
   <div class="invalid-feedback">Please fill out this field.</div>
 </div>

 <div class="form-group">
     <label for="uname">Name:</label>
     <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Please fill out this field.</div>
   </div>

   <div class="form-group">
     <label for="uname">E-mail:</label>
     <input type="email" class="form-control" id="uname" placeholder="Enter e-mail id" name="e-mail" required>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Please fill out this field.</div>
   </div>  


 <div class="form-group">
   <label for="pwd">Password:</label>
   <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
   <div class="valid-feedback">Valid.</div>
   <div class="invalid-feedback">Please fill out this field.</div>
 </div>

 <div class="form-group">
     <label for="pwd">Confirm Password:</label>
     <input type="password" class="form-control" id="pwd1" placeholder="Confirm password" name="pswd2" required>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Please fill out the same password.</div>
   </div>


 <div class="form-group form-check">
   <label class="form-check-label">
     <input class="form-check-input" type="checkbox" name="remember" required> I agree on <a href="#">T&C</a>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Check this checkbox to continue.</div>
   </label>
 </div>
 <button type="submit" class="btn btn-primary" onclick='return passval()'>sign up</button>
</form>
<div class="mt-2"> already an account ? <a href="{% url 'login' %}"> here </a></div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
'use strict';
window.addEventListener('load', function() {
 // Get the forms we want to add validation styles to
 var forms = document.getElementsByClassName('needs-validation');
 const pass1=document.getElementById('pwd').value;
 const pass2=document.getElementById('pwd1').value;
 // Loop over them and prevent submission
 var validation = Array.prototype.filter.call(forms, function(form) {
   form.addEventListener('submit', function(event) {
     if (form.checkValidity() === false || pass1!=pass2) {
       event.preventDefault();
       event.stopPropagation();
     }
     
     form.classList.add('was-validated');
   }, false);
 });
}, false);
})();

</script>


{% endblock content %}



   




{% block css %}
body{  
  background: linear-gradient(110deg,  #ADD8E6 60%, #778899 60% );
       }
{% endblock css %}


{% block js %}

function passval(){  
  const pass1=document.getElementById('pwd').value;
  const pass2=document.getElementById('pwd1').value;
  if(pass1!=pass2)
      {
      
       document.getElementById('pwd1').focus();
      document.getElementById('pwd1').value="";
      return false;
      }
{% endblock js %}
    