

.registerform{
    width: 400px;
    height: 700px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
   float: left;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 60px;
    
    border: 3px;
    border-color:whitesmoke;
    border-style: solid;
    border-radius: 15px;
    box-sizing: border-box;
    /* position: absolute; */
    box-shadow: 1px 1px 20px 5px lightgray;
    
}

.input_field{
        margin-bottom: 20px;
        height: 35px; width: 300px;
        border-radius: 15px;
        border: solid greenyellow 0.5px;
        
        text-align: center;
    
    }

.buttons{

    background-color : greenyellow;
    border: 0.5px greenyellow solid;
    margin-bottom: 15px;
    height: 30px; width: 150px;
    align-items: center;
    margin-left: 75px;
    border-radius: 20px;
}

#note{
    font-size: 30px;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: darkorange;
}

#login_buttion{

    margin-top: 30px;
}
label{
    
    font-family: sans-serif;
}


/*////////////////////////////////////////// ABOUT US //////////////////////////////////////////////////////////*/

.aboutus{
    float: right;
    height: 100vh;
    width: 850px;
   text-align: justify;
 

}

.aboutimg{
    box-sizing: border-box;
     height: 300px;
     width: 600px;
     align-items: center;
     margin-left: 70px;
}
