{% extends "basic.html" %} 
{block title}index{endblock title}

{% block content %}

<div class="continer">
    <h1>How Does it works </h1>
    <p>

        1 . Its Just a mediator who visit the place for you 
               and shop for you , what you want and deliverd to you. at just rs 10/km
        2 . by just filling a order form . 
         we collect Payment after delivery via cash , upi , E-wallet .
        
        
        </p>
</div>



<div class="container">
   <h1> PURPOSE OF THE PROJECT</h1>
   <br>
        <h3 class="ml-2">  Give a user flexibility to order form his/her favourate place </h3>
            <p class="ml-4 ">user can order any product form his/her favourate place by just giving
             the address of the shop , and save his/her important time used in trave to shop . 
             delivery charges rs 10/km   </p>


        <h3 class="ml-2"> Provide Generation to workon when they feel to </h3>
             <p class="ml-4" >Become our Delivery agent and work when you feel to work ,
              delivery charges directly goes to you ,for registration please contact to us via mail and contact no. </p>


        <h3 class="ml-2">  provide a plateform  to small business for growth</h3>
            <p class="ml-4">Provide advertisement of business at low cost (rs 100/day),
                 please contact us for more information.
            </p>


        </div> 
        

 
          
   <div class="mx-5">    
    <h1> FEATURES OF PROJECT</h1>

      <div class="conatiner row ">  
  
       
           <div style="width:33%;" class=" col-md-4 clo-sm-12">
          
              <h4>  User  </h4> 
                 <ul>
                     <li>can Edit it's profile</li>
                     <li>can forgot and reset password</li>
                     <li>can can place orderd/li>
                     <li>can cancle , edit and mark deliverd placed order </li>
                     <li>and full access to database</li>
                     
                 </ul>
 
               
            </div>
            <div style="width:33%;" class="col-md-4 clo-sm-12 ">
            
                <h4>   Admin </h4>
                <ul>
                    <li>Create User</li>
                    <li>Create Delivery staff</li>
                    <li>Delete user</li>
                    <li>Add adds </li>
                    <li>and full access to database</li>
                    
                </ul>

            </div> 
            <div style="width:33%;" class=" col-md-4 clo-sm-12">
         
               <h4> Delivery Satff  </h4>
                <ul>
                    <li>can Edit it's profile</li>
                    <li>can see latest order</li>
                    <li>can accept order</li>
                    <li>but can't mark order successfull/deliverd , can only done by user orderd </li>
                    <li>can filter form latest order</li>
                    <li>can access all feature of a normal user </li>
                   
                    
                </ul>

            </div> 

        </div>
    </div>
 



<br><br><br><br>
<br><br><br><br>


{% endblock content %}{% block css %}
      

{% endblock css %}{% block js %}
  

{% endblock js %}
    