{% extends "staff_base.html" %}

{% block content %}
  

<div class="mt-5">
{% if messages %}
{% for message in messages %}
 <div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{message}}</strong> 
 </div> {% endfor %}  {% endif %}</div>

 <div class="mt-5">
<table class="table table-hover mt-5">
   <thead>    <tr>
       <th>Status</th>
       <th>Date</th>
       <th>product</th>
       <th >Name</th>
       <th>Contact</th>
       <th>Pickup Address</th>
       <th>Deliverd To</th>
       <th>Note</th>
         </tr>
      </thead>
   <tbody>
 {% for order in obj %}
   
    {% if order.order_pending %}
    <tr class="table-primary" >
    {% elif order.order_picked%}
    <tr class="table-primary" >
    {% elif order.order_delivered %}
    <tr class="table-success" >
    {% elif order.order_cancelled %}
    <tr class="table-danger" > 
    {% endif %}

        
      <td> 
        {% if order.order_pending %}
        pending
        {% elif order.order_picked%}
              picked
        {% elif order.order_delivered %}
              deliverd
        {% elif order.order_cancelled %}
           canceled
        {% endif %}  </td>
        
       <td> {{order.order_date}}</td>
       <td> {{order.product_list}}</td>
       <td>{{order.U_name}}</td>
       <td>{{order.u_phone_no}}</td>
       <td> {{order.shop_address}},{{order.shop_pincode}}</td>
       <td> {{order.u_delivery_address}},{{order.u_pincode}}</td>
       <td>{{order.u_delivery_note}}</td>
         
    </tr>  

    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}