<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  </style> 
  <style> #logo{
    font-family:'Pacifico', cursive;
    font-size: 35px;
    color: white;
  }

  #ca{
    font-family:'Pacifico', cursive;
    font-size: 35px;
    color: #778899;
   
  }</style>

 <title> {% block title %}  {% endblock %} </title>
  <style> {% block css %} {% endblock %} </style>
  <script> 
  {% block js%} {% endblock js%} </script>
</head>
<body>
 
  
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" id='logo' href="{% url 'index'%}">DS</a>
  <ul class="navbar-nav  ">
   
   
     
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'myorder'%}">My Orders</a>
    </li>

      
     {% else %} 
  
     <li class="nav-item">
      <a class="nav-link "href="{% url 'login'%}">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'signup'%}">SignUp</a>
    </li>
      
   {% endif %}
    
    
  </ul>
   <div class="collapse navbar-collapse justify-content-end">  
    <ul class="navbar-nav  ">
     
      <li class="nav-right mr-4">
        <a  class="nav-link " href="{% url 'profile' %}">{{user.first_name|default:'Guest'}}</a>
      </li>
      
      {% if user.is_authenticated %}
      <button type="button" class="btn btn-danger"  onclick="window.location.href='{% url "logout" %}'">logout</button>
      {% endif %}
    </ul>
   </div>
</nav>

<div class="container-fluid mb-5" style="margin-top:80px">
   <br>   
</div>



{% block content %}  


 
 
 {% endblock %}
 

 
 
 
 <footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">Raman9514@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>