{% extends "basic.html" %} 
{% load static %}
{block title}index{endblock title}

{% block content %}
   <!-- ______C A T E G O R Y_______ -->
    <div name='category' class='container rounded d-flex justify-content-around h-25' style=' background-image: linear-gradient(135deg,  #c3cfe2 0%, #c3cfe2 100%); opecity:05px'>
      <a class="btn btn-primary   mb-3 mt-3  text-light" href="{% url 'category' 'grocery' %}" >Grocery</a>
      <a class="btn btn-danger    mb-3 mt-3  text-light" href="{% url 'category' 'electronics' %}" >Electronics</a>
      <a class="btn btn-info      mb-3 mt-3  text-light" href="{% url 'category' 'food' %}" >Food</a>
      <a class="btn btn-success   mb-3 mt-3  text-light" href="{% url 'category' 'chemist' %}" >Chemist</a>
      <a class="btn btn-warning   mb-3 mt-3  text-light" href="{% url 'category' 'hardware' %}" >Hardware</a>
      <a class="btn btn-info      mb-3 mt-3  text-light" href="{% url 'category' 'stationary' %}" >Stationary</a>
      <a class="btn btn-success   mb-3 mt-3  text-light" href="{% url 'category' 'clothes' %}" >Clothes</a>

    </div>
  <!-- ______E N D   C A T E G O R Y_______ -->

  <!-- C R O U S A L    F O R    A D D S -->
    {% if crousal_adds %}
        <div id="demo" class="carousel slide mt-5" data-ride="carousel">
          <!-- Add Crousal Link -->
           
          <ul class="carousel-indicators">
            {% for adds in crousal_adds %}
            {% if forloop.first %}
                <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" ></li>
             {% endif %}
              {% endfor %}
           </ul>
           
           <!-- Crousal Items      -->

           <div class="carousel-inner">
          {% for adds in crousal_adds %}
             {% if forloop.first %}
             <div class="carousel-item active"  style="background-image: url('{{adds.banner.url}}') ; width:100% ; height:400px;" >
              <div style="margin-top:330px; opacity:0.9 ;" class="container-fluid bg-dark" >
              <h3 class="text-light" >{{adds.name}}</h3>
              <p class="text-light">{{adds.description}}</p>
              <p>{{adds.contact}}</p>
               </div>
            </div>
              
              {% else %}
               <div class="carousel-item"  style="background-image: url('{{adds.banner.url}}') ; width:100% ; height:400px;" >
              
                <div style=" opacity:0.9 ; margin-top:330px;" class="container-fluid bg-dark" >
                  <h3 class="text-light" >{{adds.name}}</h3>
                   <p class="text-light">{{adds.description}} </p> 
                   </div>
                 </div>
                  {% endif %}
            {% endfor %}
          </div>

          
        <!-- crousal slider -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
  {% else %}
       <h2 class="text-center text-warning">Someting is not there :(</h2>
  {% endif %}
   <!-- E N D     C R O U S A L        -->
  

  
<!-- C A R D S    A D D S -->
{% if card_adds %}
<div class="card-group">
  
{% for adds in card_adds %}
      <div class="container  mt-5 clo-lg-3 col-md-4 col-sm-12 ">  
        <div class="card text-center " style=" height:300px  ;background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%)">
            <div class="card-header">
              <b class="text-dark">{{ adds.name}}</b> 
            </div>
            <div class="card-body bg-light mt-0" style="background-image:url('{{adds.banner.url}}')">
              
              
            </div>
            <div class="card-footer text-muted ">
                <h5 class="float-left text-primary mt-2">{{adds.contact}}</h5>
                <a href="#" class="btn btn-primary float-right">visit us</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

{% else %}
  <h2 class="text-center text-warning"> Sorry Nothing Found( </h2>
{% endif %}
<!-- E N D   C A R D S    A D D S -->


<br><br><br><br>
<br><br><br><br>


{% endblock content %}{% block css %}
      

{% endblock css %}{% block js %}
  

{% endblock js %}
    