<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>









<div  class='navbar nav navbar-default navbar-static-top'> 
    <a href="#" >Avilabel Order</a>
    <a href="#" >MY Accepted</a>
     <hr>
</div>


<table class="table table-hover">
   <thead>    <tr>
       <th>Date</th>
       <th>product</th>
       <th>Contact</th>
       <th>User Pincode</th>
       <th>Shop pincode</th>
       <th class="text-right">view</th>
       <th>accept</th>
        </tr>
   </thead>
   <tbody>
    {% for order in obj %}
      
    <tr>
       <td> {{order.order_date}}</td>
       <td> {{order.product_list}}</td>
       <td> {{order.u_phone_no}}</td>
       <td> {{order.u_pincode}}</td>
       <td> {{order.shop_pincode}}</td>
       <td> <a href="{% url 'view_request' order.id %}" class="btn btn-primary float-right" > view </a></td>
       <td> <a href="#" class="btn btn-success" > Accept</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>