{% extends "basic.html" %} 
{block title}index{endblock title}

{% block content %}
   <!-- ______C A T E G O R Y_______ -->
    <div name='category' class='container rounded d-flex justify-content-around h-25' style=' background-image: linear-gradient(135deg,  #c3cfe2 0%, #c3cfe2 100%); opecity:05px'>
        <a class="btn btn-primary   mb-3 mt-3  text-light" href="{% url 'category' 'grocery' %}" >Grocery</a>
        <a class="btn btn-danger    mb-3 mt-3  text-light" href="{% url 'category' 'electronics' %}" >Electronics</a>
        <a class="btn btn-info      mb-3 mt-3  text-light" href="{% url 'category' 'food' %}" >Food</a>
        <a class="btn btn-success   mb-3 mt-3  text-light" href="{% url 'category' 'chemist' %}" >Chemist</a>
        <a class="btn btn-warning   mb-3 mt-3  text-light" href="{% url 'category' 'hardware' %}" >Hardware</a>
        <a class="btn btn-info      mb-3 mt-3  text-light" href="{% url 'category' 'stationary' %}" >Stationary</a>
        <a class="btn btn-success   mb-3 mt-3  text-light" href="{% url 'category' 'clothes' %}" >Clothes</a>

    </div>
  <!-- ______E N D   C A T E G O R Y_______ -->

  <!-- C R O U S A L    F O R    A D D S -->

        <div id="demo" class="carousel slide mt-3" data-ride="carousel">
          <!-- Add Crousal Link -->
           
          <ul class="carousel-indicators">
            {% for adds in crousal_adds %}
            {% if forloop.first %}
                <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" ></li>
             {% endif %}
              {% endfor %}
           </ul>
           
           <!-- Crousal Items      -->

           <div class="carousel-inner">
          {% for adds in crousal_adds %}
             {% if forloop.first %}
             <div class="carousel-item active" href="{% url 'visitus' adds.id %}"  >
              <a href="{% url 'visitus' adds.id %}">
              <div style="background-image: url('{{adds.banner.url}}') ; width:100% ; height:400px;">
                  <div style="height: 81%;" class="container mt-5"> </div> 
                
                   <div style="height: 18%; opacity:0.9 ; " class="container-fluid bg-dark " >
                      <div class="float-left" style="width:50%">
                         <h3 class="text-light " >{{adds.name}}</h3>
                         <p class="text-light ">{{adds.description}}</p></div>
                      <div style="width:50%" class="float-right">
                          <a href="{% url 'visitus' adds.id %}" class="btn btn-primary float-right mt-3 ml-4">visit</a>
                      </div>
                    </div>      
                  </a>
               </div>
             </div>
              {% else %}
               <div class="carousel-item">
                <a href="{% url 'visitus' adds.id %}">
                <div style="background-image: url('{{adds.banner.url}}') ; width:100% ; height:400px;">
                  <div style="height: 81%;" class="container mt-5"> </div> 
                
                   <div style="height: 18%; opacity:0.9 ; " class="container-fluid bg-dark " >
                      <div class="float-left" style="width:50%">
                         <h3 class="text-light " >{{adds.name}}</h3>
                         <p class="text-light ">{{adds.description}}</p></div>
                      <div style="width:50%" class="float-right">
                          <a href="{% url 'visitus' adds.id %}" class="btn btn-primary float-right mt-3 ml-4">visit</a>
                      </div>
                    </div>      
                 </div>
               </a>
                 </div>
                  {% endif %}
            {% endfor %}
          </div>

          
        <!-- crousal slider -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
  
   <!-- E N D     C R O U S A L        -->
  

  <!-- O R D E R   S T A T U S   P R O G R E S S -->
        {% if user.is_authenticated %}
        {% if current_order %}
        <div class="container-fluid   mt-5 mb-5 "  >
           <h3 class="col-md-12 col-lg-12 col-sm-12"> Order Status : {{current_order.product_list}} </h3>
             <div class="progress mt-4">
              {% if current_order.order_pending %}
                  <div class="progress-bar bg-primary border-dark text-center text-light" style="width:30%">pending</div>
              {% elif current_order.order_picked%}
                  <div class="progress-bar bg-warning border-dark text-center text-light" style="width:60%">picked</div>
              {% elif current_order.order_delivered%}
                  <div class="progress-bar bg-success border-dark text-center text-light" style="width:100% ; ">Deliverd</div>
              {% else%}
                <a href="{% url 'TakeOrder' %}"  class="btn btn-block text-light" style="background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);"> Order now </a></div>
              {% endif %}
              </div>
        </div>
              {% else %}
                <div class="container mt-5"> 
                  <a href="{% url 'TakeOrder' %}"  class="btn btn-block text-light" style="background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);"> Order now </a></div>
                {% endif %}
           {% else %}
                <div class="container mt-5"> 
                 <a href="{% url 'login' %}" class="btn btn-block text-light" style="background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);"> Login </a></div>
           {% endif %}         


<!-- E N D   O R D E R   S T A T U S   P R O G R E S S -->

<!-- C A R D S    A D D S -->
<div class="card-group">
  
{% for adds in card_adds %}
      <div class="container  mt-5 clo-lg-3 col-md-4 col-sm-12 ">  
        <div class="card text-center " style=" height:300px  ;background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%)">
            <div class="card-header">
              <b class="text-dark">{{ adds.name}}</b> 
            </div>
            <div class="card-body bg-light p-0" >
              
                  <img src="{{adds.banner.url}}" width="100%" height="100%">
              
              
            </div>
            <div class="card-footer text-muted ">
                <h5 class="float-left text-primary mt-2">{{adds.contact}}</h5>
                <a href="{% url 'visitus' adds.id %}" class="btn btn-primary float-right">visit us</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
<!-- E N D   C A R D S    A D D S -->





<br><br><br><br>
<br><br><br><br>


{% endblock content %}{% block css %}
      

{% endblock css %}{% block js %}
  

{% endblock js %}
    