{% extends "basic.html" %} 
{block title}index{endblock title}

{% block content %}
  


<div class="container-fluid rounded border-lg mt-3 mb-5 p-5 shadow bg-light col-lg-4 cal-md-6 cal-sm-3" >
    <h2 class="mb-2 text-center" id='ca'>login</h2>
    
    {% if messages %}
    {% for message in messages %}
     <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{message}}</strong> 
     </div> {% endfor %}  {% endif %}
        


    <form action="" method="POST">
       {% csrf_token %}
       
       {% for login_f in login_form %}
          
        <div class="form-group">
    
            {{ login_f.label_tag }}<br>
              {{ login_f }}
              <p style="color: red;"> {{ login_f.errors|striptags }}</p>
             
        </div>
        {% endfor %}

     <button type="submit" class="btn btn-primary">
        
        login
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 0 1 0-.708L10.793 8 8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 1 8z"/>
            <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0 0 15 13V3a1.5 1.5 0 0 0-1.5-1.5h-8A1.5 1.5 0 0 0 4 3v1.5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5h-8A.5.5 0 0 1 5 13v-1.5a.5.5 0 0 0-1 0V13a1.5 1.5 0 0 0 1.5 1.5h8z"/>
          </svg>
        </button>
    </form>
    <div class="mt-2"> did'n have an account ? <a href="{% url 'signup' %}"> here </a></div>
    <div class="mt-2"> <a href="{% url 'passworforgotvalidate' %}"> forgot password ? </a></div>
    </div>
    
 
    
    
    




{% endblock content %}
{% block css %}
body{  
    background: linear-gradient(110deg,  #ADD8E6 55%, #778899 55% );
         }  


{% endblock css %}
{% block js %}
   

{% endblock js %}
    