{% extends "basic.html" %} 
{block title}myorders{endblock title}

{% block content %}
 
<div class="container " >
<a  href="{% url 'TakeOrder' %}" class="btn btn-primary btn-block btn-lg">place new order</a>
</div>

<div class="container-fluid pt-5 col-lg-12 col-sm-3 col-md-6"> 
<table class="table table-hover">
  
    <tbody> 
   {% for order in allorders %}
     

         {% if order.order_pending %}
         <tr class="table-primary" >
      {% elif order.order_picked%}
      <tr class="table-alert" >
      {% elif order.order_delivered %}
      <tr class="table-success" >
      {% elif order.order_cancelled %}
      <tr class="table-danger" >
      {% endif %}
       
      <td > {{ order.order_date }} </td>
      <td > {{order.product_list | truncatechars:30}} </td>
       
       <td> 
         
      
      {% if order.order_pending %}
         pending
      {% elif order.order_picked%}
            picked
      {% elif order.order_delivered %}
            deliverd
      {% elif order.order_cancelled %}
         canceled
      {% endif %}
        
         </td>
      <td>
         {% if order.order_cancelled %}

         
         
         {% elif order.order_delivered %}
         {% elif order.order_picked %}
         <form action="{% url 'cancleorder' order.id %}" method="post">
            {% csrf_token %}<input type="submit" class="btn btn-danger float-right " value="cancel">
         </form>
         <form action="{% url 'order_received' order.id %}" method="post">
            {% csrf_token %}<input type="submit" class="btn btn-info float-right mr-1" value="received">
         </form>
         {% else %}
            <form action="{% url 'cancleorder' order.id %}" method="post">
               {% csrf_token %}<input type="submit" class="btn btn-danger float-right " value="cancel">
            </form>
                <a href="{% url 'editorder' order.id %}" class="btn btn-info float-right btn-sm d-inline mr-2 mt-1" >Edit</a>  
         {% endif %}
      </td>
    </tr>
  </tbody>
{% endfor %}
</table>

</div>





{% endblock content %}{% block css %}
      



{% endblock css %}{% block js %}
  



{% endblock js %}
    