{% extends "basic.html" %} 
{block title}index{endblock title}

{% block content %}
  
<h1>Change password</h1>

{% if messages %}
     {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <strong>{{message}}</strong> 
      </div> {% endfor %}  {% endif %}
      
<div class="container">
 <form action="password_change" method="POST" novalidate>
    {% csrf_token %}
    {% for fm in form %}

        {{fm.label_tag}}<br>
        <!-- <input type="password" name="{{fm.name}}" class="form-control"> -->
        {{fm}}<br>
        <p class="text-danger">{{fm.errors|striptags}}</p>
      
    {% endfor %}
     <br><input type="submit" class="btn btn-success " value="save">
 </form>
</div>




{% endblock content %}
{% block css %}
      

{% endblock css %}


{% block js %}
  

{% endblock js %}
    