{% extends "basic.html" %} 
{block title}register{endblock title}

{% block content %}
 
   
   {% if messages %}
     {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <strong>{{message}}</strong> 
      </div> {% endfor %}  {% endif %}
          


<div class="container rounded border-lg mt-5 mb-5 p-5 shadow bg-light" style="width: 35%; ">
       
      
        <h2 class="mb-5 text-center" id='ca'>Create account</h2>
       <form    method="POST"  action="">
        {% csrf_token %}       
     
        
        {% for rf in reg_form %}
               
              {{ rf.label_tag }}<br>
              {{ rf }}
              <p style="color: red;"> {{ rf.errors|striptags }}</p>
              
        {% endfor %}
               
   
        <input type="submit" value="sign up" class="btn btn-primary">    
        <div class="mt-2"> already an account ? <a href="{% url 'login' %}"> here </a></div>
       </form>
</div>






    
{% endblock content %}



{% block css %}

body{  
  
    background: linear-gradient(110deg,  #ADD8E6 60%, #778899 60% );
       }

 
{% endblock css %}
{% block js %}

     
  



{% endblock js %}
    