{% extends "basic.html" %} 
{block title}register{endblock title}

{% block content %}
 
   
   {% if messages %}
     {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <strong>{{message}}</strong> 
      </div> {% endfor %}  {% endif %}
          


<div class="container-fluid rounded border-lg mt-5 mb-5 p-5 shadow bg-light col-lg-4 col-sm-4 col-md-4 " >
       
      
        <h2 class="mb-5 text-center" id='ca'>Create account</h2>
       <form    method="POST"  action="">
        {% csrf_token %}       
     
        
        {% for rf in reg_form %}
               
              {{ rf.label_tag }}<br>
              {{ rf }}
              <p style="color: red;"> {{ rf.errors|striptags }}</p>
              
        {% endfor %}
               
   
        <button type="submit"  class="btn btn-primary">   
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                </svg> signup 
      </button>
        <div class="mt-2"> already an account ? <a href="{% url 'login' %}"> here </a></div>
       </form>
</div>






    
{% endblock content %}



{% block css %}

body{  
  
    background: linear-gradient(110deg,  #ADD8E6 60%, #778899 60% );
       }

 
{% endblock css %}
{% block js %}

     
  



{% endblock js %}
    