{% extends "basic.html" %} 
{block title}index{endblock title}
{% block content %}


<div class="container rounded border-lg mt-1 mb-5 p-5 " style="width:50%; float:left;">
  <h2 class="mb-5 " >Fill Order Details</h2>
 <form method="post" >

    {% csrf_token %}

  {% for fm in form %}
    
    
    {% if fm == form.u_name %}
  </div>
    <div class="container rounded border-lg mt-1 mb-1 p-5 " style="width:50%; float:right;">
      <h2 class="mb-5 " >Delivered to -</h2>
     

    
    {% endif %}
      
     
     
     
     <b>{{fm.label_tag}}</b><br>      
    {{fm}}<br>
    {{ break }}
    
       
    
    {% endfor %} 
 
    <input type="submit" name="submit" value="order" class="btn btn-primary ml-5 mb-5" style="width:80% ; align-items:center">
 </form>
</div>





{% endblock content %}{% block css %}
      
 


{% endblock css %}{% block js %}
  



{% endblock js %}
    